#quadrado1{

    width: 60px;
    height: 90px;
    background-color: brown;
}
#quadrado2{

    width: 60px;
    height: 90px;
    background-color: orange;
}
#quadrado3{

    width: 60px;
    height: 90px;
    background-color: blue;
}
